Source: qvernote
Section: user/office
Priority: extra
Maintainer: Calum Lind <calumlind@gmail.com>
Build-Depends:  libqt4-dev, libqt4-sql-sqlite, libqtm-dev, debhelper (>= 5), libevernote-dev, thrift-dev, libboost1.38-dev, libssl-dev, libpoppler-qt4-dev, libqt4-phonon
Standards-Version: 3.7.2

Package: qvernote
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libevernote1.23, thrift0.9.0, libqtm-contacts, libpoppler-qt4-3, libqt4-phonon, libqtm-location
Description: Evernote client
 Full featured client for Evernote with offline synchronization support
XSBC-Bugtracker: https://github.com/cas--/Qvernote/issues
XB-Maemo-Upgrade-Description: Added Evernote OAuth support
XB-Maemo-Display-Name: Qvernote
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgI
 fAhkiAAAAAlwSFlzAAAKYQAACmEB/MxKJQAAABl0RVh0U29mdHdhcmUAd3d3
 Lmlua3NjYXBlLm9yZ5vuPBoAAAyRSURBVGiB1Zp5cF3Vfcc/59zl7Zs2W5Zk
 WRbGGFvgBeIklEwmZIYEgjttJpShMZRpEwLtEJvikAIpJGnTQFqaDEwTCmXA
 TSdLcRvKFGfKmE7qstlBXmW8YVuyvGl5evt7dz394z7Lki0ZY2yY/maOnua9
 e+79fX/L9/x+51yhlOL/s8iPWoEPKvrpXwghBLAYuAZIAqI+LoTYwFpgBJgH
 3GzGZOy97u9afs536QNeBUpKKX9KAEIIUw/Lb8Vmabc19xiNkRYtfIEUByDf
 71onNtmfs3LeamAv0GdmxOMNl5kdTT3mtPPsgu+e6LWKhYPOFiunviGE2AE4
 SiklJuaAFtIebL3a/PMlq1KZ2CztQuoOgGcptj9VcA6/Uu2rZv3VwDbg+uhM
 7dGFdyQ6um6ITusJz1Lser7ovfti9S274N0ODCil7PEcEEJ0x2eKO3q+lrwo
 ygNoIcHiP00Zl/x+rCfSLJ8Cfgd4tXLcW7XzmcKBPT8v+dNxihYSLFiZ0JKd
 Wg9wM0F4T0ripYlOszE194y0uKAiNLj8jxLagpWJebFW7Qngc8Br1WH/7j0/
 L73T93TB9d2pUegRwYxloSiSRUDL6QDak51a7KJqf1IEzPtiTFzxtWRnokN7
 FLgF2FYb9e888FJ169Yf5W23NjWISLOm6RHRCqRgMgBd6Fyc2JlGZn82wtLV
 6Zmpbv0vpeQuYH8t532lf0P1jd8+mqvZRf/MSQKEQAMiMBnAhaFKVR8T/ld+
 MJjCqDOXh7j6/nRj+jLj69KQDwFDTlHddfT12oZNf5WrVEe86Z6knQ7gvBVW
 PviuwncUnlUfdvBpl3zsYjCcSnDNJEAKGheaLH8gk27q0W/XwjwGVN2KuudE
 r/3im98eK5YG3Wkff/4Zq0Ap8G2FXfZxSgo771M6Glgs2alTy3qM7rRxygrP
 UaQvMWhZbGIkJFpIIHWBNEBqguQcneUPZhJvP577vaGtdtotq/u8mv+N0T53
 7M3vjN161Zp0Oj3PuAAAJljcqSjKR112/0uJ45ss3OqENcUU+G5g7YlixCUz
 lpnE23SiMzWSc3QSHTpmUhJp0fjYA5nolh/mrzu+yX7Kynurfcf/69wef+yt
 747dtfTedMP5A1CB0p6lsIuK8jGX0T6H3T8rYecDLY2UJNSkoVxFZdBFCwlS
 i0xCaYnQIfeOQ/mQy+BvaqfuK6D142Euvz1OcraOERdctSYd3vbj/CcGf2P9
 Yy3r3ev7PJk/6OY2P5pb09Rjtrx/AAo8W1HL+hx9rcbBlyvk9jnj1k3ON5h7
 a5xwqz7OBL6jQBNIjXF6mO1D6ZDD0MYaSoA16lHa73LsjRqju2wW3pGg4zNh
 QknJkntShhEvLu5fX/lJZcRfA/y0NOjmfUc9rBQOdUo4JwC+q6iOeGz+fp6h
 XgsALSKIdegk55m0r4giDRATeEwaAhRUhzwiM+rsrEHiEoNEt4FSgA/VIZcD
 a0sU9jps/4cCQkLrJ8KEM5JFf5LUzKScv29d+cnKce8h4D8qJ7w8cBNgvTeA
 erzbBcWh9VWGei30qKB9RYyWa0JoYYmo89i47uLU3KP/VWXgV2UWfydDuEU7
 9bMAoQJA0Vk6l9+X5t21RYb/t0bv43kaF1ZZuipJotNg/i1xGUrKzl3/XHys
 NOh9D1gH7AIcOBuN1mPeyvuM7LDZ+8sSAHNuidN6XQQ9JpF1+Fu+lWXzfaPs
 f7aIlfVBQW3E49h/V/FqisGXKpPWgGMbqmxaNYpT9BECpA5zb03QsSKGHheM
 9tm88UiO8jEX31F03RgVi/8sNSvZpT+M5KvAEHDkrB7wPYWV8zm4vsqu54p4
 liJzhUnzx8PjiiNASOi+LcHenxQ4sbHG8FsWQoJyQRhgJCTZrTbVE0EoKR8G
 X65gpiR6XAb3ALQwtK+I0nxNmN0/ylM64rLvhTI9dyaRhqDt2jBGXDZvfSK/
 amyP4wNPCiHklB5QPrhlRf8rVXY+U8CzFE3Lw3TfkUDoYOd8SofcwKoCUvMN
 2m6IInVByzVh5vxBjAVfT7LssQYWrkmhPMXOv8mx75+K9L9Qxi0oOr8UO5Uz
 dUNIDcJNkq4vxwEY/J8aTskf917LEpPZ10UywCKgHQhN6QHlBUm76/kSyoP2
 m6J03BRD6EFo7Xu2SGG3Q/JSgwWrk3gVxZFfVwjP0Ji7Mj6eFwB6TGIkJLUR
 j+E3AvoUmqD/hTK+o2hcGjqVN0GdQ6JbR2jglHx8W6GUQpy8KPiIEJTT2pkA
 VNA8HHnNwin5xOcatNeVFwKQsPDeFIMvVxh8qULvN8fwbYVvK7pXxiYxEQoq
 R1ysMZ94l8GcL8U4sbFG9biHk/fZ8+MCoYzGor9IE8pISodc3n2uSOfNcbSo
 wC0qnLJCeZwe7IKgFhJnAFAKPBty+xwAMj0mQgbKKx+G36xx/NUaTsGHOpeH
 GiSXr04Tn6ODAKfgM7LJIrvFpnIkqGO6b48HtHupMf6cA2uLDL9pse2RMYyE
 xBr10EKC6CyNUEbDLboM9Vok5+hoppiy3Jw6iScwhhYOZikftjyYpTbiYcQl
 ZkYS7zJJLzSZ8anw+M2VB2/fn8V31PhaICSYqcl8KwTMvS2BU1SMvm2hPEV6
 ocm8rySQRpBLBwdKDLxao/P6KEZ88jozLQAhQBoQmxnwdmG/Q+t1EZQALSro
 WBGj/QvRybwvJs9fcE+KyAwNIy059IsSx16pMrbDpuWTp4A6BR97zKdhqcnY
 DptIq878u5MILTBW8ydDHPxZieKAi2erKUvxaT2ghQTtnw6z91/LZHstslss
 GpaGuOLBzClLn/xTZyIhgrAAgjCpf9f5xRjDr1v0ryvTdHUIaQgOv1hh8D8r
 nNxQUB7oUTEp+f16Ba1HxZSWPyln0qgIyoDYTJ3uFVFQsPfpAvvXFikfdnHL
 Pk7BZ7TXZveTBY78uoKV9fEc8GqK3A6bgX+vUDni4bsB41zyxwmEEON50/6F
 KF23xph/Z5KGJSGEhLYbopPUsEaDstxMSIQ+PYIpPSAEmEnBpbfEsYs+Axuq
 DG+sMbyxdsa12S0WA/9WRur18rneQB1ZX6b1MxHaV0TJ9Jhc9YOGcXMJHWZ+
 OkLxgENhtzOeuAiC8sWFwRcrQNBX6KGpE3hqD5z0gi6INEmuvDvJtY810vap
 MKGUxExKQilJvE2n8/oITVeYSF2g/KAxibfpnNykOvpKle3fzZHb7eBPbCkV
 HPplmb4f5FH1xqj3m1lGN1soD7LbbcZ22BhxyWV/GEePTR9G0xdzAjRDEG7Q
 aI5L0vN0vKrC9wIPCV0g9SB+PTtoXIRgPAnH9jj0PVukeNhl19/mmH9XisZl
 JkLAwK/KHNtQJTJDY9H9KRCCbd8eY9+zRa76O5OjLwfW7/p8hET79BR6dgB1
 EEIDPSzQQhqkJ/82LqcxhPIVkUZJultn1/MlBjZU6V9XInNlAwLFsQ1VQhnJ
 lY9kEFow/8qHMxz4aYnRzRbFAw5GXDLn81GM+NmT+NwaGjE1B097uSYQmiDW
 JliwMs5on035uEd2i4VvK7yqouN3IwHr1EMIAUZcsP+5IhBsuUSatWAt+cAA
 zkOEDPriUEbSvCREeX2F8oCLPRa0cdFZ2rjytSGP3U8UqBx1kYag68YoC74c
 x0yc3foXFQAEXtNMQaI9WBSrJzzwAw+FmjQUQWW76+/z1IY8Yq0aPV9N0rLE
 xExJpH526190ABB4Qo8FZKc8wFcIGexOeBWfd54IlE916XzsgTTxDh0jWu/0
 ziFsLzoAqDf4BIRwcoVVCoZftygfcom2aCy7L01ito4elZNW5PeSD+WI6aTS
 40nrB9Q7+ttgg2DuTVESne9fefgQPKBU0CABZHutoCwQsPWhLF5VoYUFs64J
 Y8TE+1YePgQAUhNoIRHwPaCcUwWc0GDG0hDhxnrCnodc5NMMkCbMvTFK27Vh
 fIdTJasIQBlxERRs57k3PhGAp1w8LnBeSF1gJARGvM5EE86QhBCnFslzBOA5
 ygemPKUcLPQ7ZSYXDBdEJsa2OFdNp5HCAdcCcoALqInW3pk/6BZy+50P9ICL
 KYVDLrl9Tg3oB2qANxHAnsqQ+sWOpwvl4sD0BwoflVSOe+x8plArH/W2EJwx
 5wF3/Jy4fkI/QzPl9+JtckXmMiOW6jLCF+yM/nxFQXHAtbLv2LXioLvds1gH
 9AI7gLw4Lak0oAm4EVgONPMhrdbvIWXgMIHS/QQeGFFKueL0t1WEEDoQJwCS
 AsJ89C+FKIKYzxO8Z1FUSrkAZwCA8XAyCKx/jmXVRZX6aQIu4E582eP/AAlv
 bjtLHEVbAAAAAElFTkSuQmCC
