Source: qvernote
Section: user/office
Priority: extra
Maintainer: Calum Lind <calumlind@gmail.com>
Build-Depends:  libqt4-dev, libqt4-sql-sqlite, libqtm-dev, debhelper (>= 5), libevernote-dev, thrift-dev, libboost1.42-dev, libssl-dev, libpoppler-qt4-dev, libqt4-phonon
Standards-Version: 3.7.2

Package: qvernote
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libevernote1.23, thrift0.9.0, libqtm-contacts, libpoppler-qt4-3, libqt4-phonon, libqtm-location
Description: Evernote client
 Full featured client for Evernote with offline synchronization support
XSBC-Bugtracker: https://github.com/cas--/Qvernote/issues
XB-Maemo-Upgrade-Description: Added Evernote OAuth support
XB-Maemo-Display-Name: Qvernote
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgI
 fAhkiAAAAAlwSFlzAAAKYQAACmEB/MxKJQAAABl0RVh0U29mdHdhcmUAd3d3
 Lmlua3NjYXBlLm9yZ5vuPBoAAAw9SURBVGiB1Zp7cB3Vfcc/Z/fu3vdTluSX
 bMmyrRjZWIiHB9slAWbiEAi0pIZMUsyUpOTRTBwHcNIhIZQOSYAOZBrnQTqh
 QEhTMgECNASaYgcytbGN38iWZcuWZNl63/d77+7pHytfvSzJNsa035n9Y8/u
 Ofv7nt/znLNCSsn/ZygftgDvF47xDUIIATQBq4AAIIavC4Ei8Cww2NzcvMiy
 rNsUN97pxrcKVtw0ZMvJkyc3R6PRtJTSKss72oSEELrDpXzHN1ddV3WZXuGp
 VF0XSHAA4h1GoXdbcXs+Zm4A2hobG2/0zlYed9eaNa664qT9zIxSyh7RUvlu
 Zc9gd2JjV1fXAcCQUsoxBDSnev/Mq533XLkxGPbNnaCc9w0zL9nzo4TR8Xq2
 JTdobQD21dbWrqmo8z1SeVOuJnBVblJNyKIg+obXHPyTur1137E7C4VCl5Sy
 WPYBIUS9Z7b6t5d9LfCBCA+gugTNG0Jaw22+Zd6ZypPA6o6Ojs19R+Jf7/+d
 61h8s8dikpgidEn44xnVPVcsq6qqug3bvMf4QHOw1lERWqiNtJQUZOlCmT8I
 FRTNZNndAVUPKotankn9KHPKfKC7u/t10zS/Ylnhx82s0hC5Ie0Q6sT+ilPi
 XWx41L3qUqAKGBxNYG6gzuEd3cF4ey7m1jkXjIDaEENb2woCGj7jE86QMn/v
 T5KPpDpLoZ6enudN0/wiVuUPS1n/pVV/mdaFPlEdWliqTq9jFhCEsRpwKBpj
 eGvXdONYefKCERg/q7Wf8KAHlJm7Hk88kGw3Iv39/T8tFot/V2PM+qHM+VdU
 rU27FI91hpGkCrjHE5hoKw4L8cG4QxmzV7rQ/UrFjh/E18cOlyri8fj3zcPm
 l6U15zEzH7i2+jNJjyN4JhL2ZP+fSGQzlumseigcqmzS7lRdyqOpVCp39GDH
 16L7Si/3PB1IGQNncIhhXFACpawkfsQg1mYgLcgNmnS8keXoixla/z1N/54C
 k0WZYL3Gqn+K+Gddpf+V7heb8vm8fuhA28boodIvTz0diBe6tTP2m9JArB4v
 st8zpdBm0aLl1T6ObhkknyyV23WPilGwkOZYiT0RnYUfq8A/04l3hk6gTsXd
 nALAO0tl5UMRz85HYtef2lZ8shA3NxxuaXt4kbEoJp/xfbn69kzknAjIHh9m
 y4wzPivmDRKDaXb84QDpRA4E6GEFV6WKVZJkOkuoLkFkuQs9rCBUiLcYpNqL
 7H+xpzyOELDkb/ws/2oAh0vgDCuseCDi2v1E/OoTb+Z/nhsyv3Gk7cimOqMu
 Ln/lu8+z0KyyK5KzIKA296E2941pG9hb5NBzKbrezHG6Igk16tSv8+GqHrFV
 y5AIRYyJPPNuhUxnid638ggB+UGTxGGDg79M0bUlx6qHI1Q16WgewZUbQ5rT
 n2xqfyX3s+xA6b7jx48/Z5rzEpVm4LsgDIaN8ZxizLYHYxx9KWMz9wh8tRqB
 xRo1t3gmxDBFEyAh12fiHkXMO99B/Tpf+T4/YNL+b2niB4ts/vtBPv5UJZEG
 DUUTLP9qUNWCSsPhX6c3ZXrMb3d1db0C8xIul+tTQOGcCHS/nefoSxkcPoX5
 t3qoWu1C0Yellow452kiEk69kaPrdxmaHgrjqhoXSaT9rqtSpXFjkPanU/T+
 Kc/vb++j9hMeVv5jGNUpaLzTr7hCyvwD/5p6NHWi9L2urq4XfD7fQcCAs4xC
 uUGTdx6KAVB/h4+Z17nLwksLdt8fZec9Qxx9KkUhaoG0zaNnSw4zL+l+NTtC
 UELPf+fYsX4IIzkS3+s+52P+X3vRfAodf8jyx7sHsEp2p/pbvOLye4Kzgwsc
 30Xh7nQ63Q+cnFYD5oFKTr0GW198j2LeJNLsZMYK55h3hID6dX7afpak7895
 BrYXEArIEggNNL9CdG+xbErSgu7XsuhBBYdvZP4UTTD3Jg9Vf+Gi5bEEA3uL
 tP5A45Jv25Gt5lo3ul+pfPef41+PHjIsYJMQQplSA31dUd7+zV6KeYOq1S4W
 3WXbbjFmkT5eKptBsEFjzic9KA5B1SoXtbd7WbI+wOWPRmi8L4g0Je99P86R
 X6To/G2GUlIyf60XcYY6UQ8qLLrLD8Dht06NeVZ9hZPaNZ4wsBSYCzgn1YC0
 YOsT3VglybxbvdTc7Cm3H3kqRbLVILBYY8mGAGZWcvL1LK5qlQV3+BCjpsXh
 VdD8CvlBk4FteVtrqqDztxksQ1LR7BwbACT4FjgQKuQSxkTB7Hfd2OW0OimB
 U/+TJzdg2lHm5pFkJhRo/EaQ7teydL+aZfe3YlhFiVWU1N8xblYlZE+WKMQs
 fHUatWu99P05T67XxEhYHP5pEmdYZek/hHCGFdIdJdqfTlH3OR8Or4KRtDCL
 ElWfoCqBXQtNXqoNtdjJItKkj8hjwsA7eXo3520HFFAYMnFGFC7ZEMJX6wAB
 RtJicEeB6J4i2ZO2Ddff6cNb4yCw2C4JpIRjz6YYeKfAvgdjaH6FwpCJ6hS4
 Z6k4K2wCfbsKzL568pXt5CY0HDUU50i02XN/lPygieZT0MMKvjqdUKNO9TWu
 shlIE3Z9M4plyHIuEIpt2+W5w3b+Bev8GCnJ0K4C0pSEGnUW3e1HdQqqr3GT
 Pp6i9bnM+RHwz7MfJdsMZl3vBgmqR1Bzs5e5N3lGTGWcdoUCS9YHcVepaCGF
 jufT9PwxR+xAkaqVI0SNpEUxZhFp1okdKOKe5aDhK4Fy5q5a5aT92RR9OwuT
 Cj8lgXnXu9nuEQztLBC9ukikSWf5d8LTb7AICH5kpHKc/2kvA1sLdL6QYcaV
 ThRNcOLlLN2/z3J6Q0GadmYf7fzWcLHgrp46VU361OESXHFvCGnB4U1J2p9J
 k+szsYoSMyeJ7S/S+uMkp/4rh5GyyoIkWg1OvJwl32faH9AECz/vRwhR9pu5
 N3mo+6yXhi8GiFzmRCgw55Njq95C1O7vqZx8LQDTJLJFn/ZSiFnsfzJJ75Yc
 vVtyE94Z2lmg4z/SKLrAMiTS/i4nXs0wZ42Hmls8RJp0IssjI/bvgJkfc5M6
 ZpBsNVCdAs9sdYx2u160a66KRp2pMG0ttPQLfhbe6uXQr1J0vpFDDjulu0Jl
 /ho3sVaDrs05LEPicCtEGjSCdQ7aX7HNZGhXgUVf8OMfvdshoeM3GXq35BAO
 gZSw+1tRFt7lp+JyJ7EDRaJ7inhnqlz6pcD5E7DaQ5idAVRgaaN9TUA1XPHR
 ic2LP5Jnx6+P0t+eZP/DcZasD9ohWULXSxl63szhrlZZ+s0gCMG+h2Ic+UWK
 cJNO939mAVh23QLUpALezKQyTu0hJQWRd5zX5ff6uP7zTTTdUDc842mkZa8T
 et7M4QwrLH8wjMOn4PAKmh4MU9HsZOjdIsk2A0/IyfxLZoI5tYhTakBpiKI0
 RKccYDosuxG6T+oM7i8S21uglLGDQM0t7jFRR9EEekih7ckkAEu/5Eb/1PFp
 x/+AN01s1N3gYXB/kUynSW7ABIHttMMoDFkcfCJBtruEwyW4/N4Qi9d6pxhx
 BBeFQKDW/kyur4RVBKEInJV21DFSFi2Pxcn1msy4VGf1w5FyEj0bXBQCDo9t
 K1YJpCURCmg+BasoOfhEglyvyZzVLq79lxkTdu+mHXuqh6W35mFum33egp9G
 oW8A6EeoYI06BujfWiB9rEQkEmbFrI9SfGyiOI4b21GXDUw69tS7Elf2oDRO
 3vlsoezMwmZQVIGJLO9mDG631wfL73PjvqrlzH39kx98wDQEhMdAeM6wqDhH
 SI9dkA1szyMcAgS8e+8QZl7iDCnMWaMg1IlZ/mxwUXzAMkctSk4v7k1QNUHt
 DZ5ztvvRuCgE5l3n5rM7L9w5w2iMJmBaBiajsvPZ7I1+0FBqUohIvnxvGdIC
 yvsxowl0J4+XMkDodMNUe6MXC8JnjCEQbzcKQBwoAXI0gfcSx0vJWJsRCg+v
 W8+0N/phInHMIHbIyAOdQJ5xldLhdI/5/N5NiUyyo3TmET5EZHpM9v0kmU/3
 mHuANiABlMrnxMMn9NWqrnzPP0+5uWKJ7g3Wa64Ldkb/PpA8bhSGWox8squ0
 3yzIF4DdwAEgMf6kXgVmADcCK4BKLlKkmgYZ4AS20J3YGhiUUpbE+L9VhBAO
 wIdNJAi4+PDP0iS2zSeAQSAlpSzBuH8lTmPYnDTs2Ve4cD97nC8kdugsAaXR
 P3v8LyZfJgACO3GiAAAAAElFTkSuQmCC
